body {
  width: 100%;
  padding: 0;
  background-color: #FFFFF6;
}
h1, h2 {
  text-align: center;
}
input[type=text] {
  display: block;
  width: 380px;
  height: 30px;
  margin: 0 auto;
  font-size: 14pt;
}
input[type=number] {
  display: block;
  width: 380px;
  height: 30px;
  margin: 0 auto;
  font-size: 14pt;
}
input[type=file] {
  display: block;
  width: 380px;
  height: 30px;
  margin: 0 auto;
}
label {
  display: block;
  width: 380px;
  margin: 10px auto;
}
.group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clear {
  clear: both;
}
#qr {
  margin: 5px;
}
#image {
  margin: 5px;
}

.pastable{
  transition: box-shadow ease .3s;
}
.pastable:hover{
  box-shadow: 0 0 3px black;
}
.pastable.pastable-focus{
  box-shadow: 0 0 10px black;
}

form {
    width: 400px;
    margin: 0 auto;
}

#mask-text {
  text-align: center;
}

#hidden-holder {
  width: 1px;
  height: 1px;
  /* overflow: hidden; */
}
